<div>
<%= render 'shared/flash_message' %>
</div>

<h1>Editing Book</h1>

<% if @book.errors.any? %><!--errorsは、any? と組み合わせることで、エラーが発生しているかどうかを判定できます。-->
  <%= @book.errors.count %> errors prohibited this book from being saved: <!--○○件のエラーが発生を表示-->
  <ul>
    <% @book.errors.full_messages.each do |message| %><!--errorsは、full_messagesと組み合わせることで、エラーの内容を出力できます。-->
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @book, url: update_list_path(@book.id), method: :patch do |f| %>
  <h4>title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>
 <div class="actions">
  <%= f.submit 'Update Book' %>
 </div>
<% end %>


<!--showに戻る-->
<%= link_to "Show", book_path(@book.id) %>
<!--indexに戻る-->
<%= link_to "Back", books_path %>